$color-red-100: hsla(353, 81%, 94%, 1);
$color-red-200: hsla(354, 81%, 86%, 1);
$color-red-300: hsla(354, 81%, 77%, 1);
$color-red-400: hsla(354, 81%, 69%, 1);
$color-red-500: hsla(354, 81%, 60%, 1);
$color-red-600: hsla(354, 81%, 52%, 1);
$color-red-700: hsla(354, 75%, 44%, 1);
$color-red-800: hsla(354, 76%, 35%, 1);
$color-red-900: hsla(354, 76%, 27%, 1);
$color-red-1000: hsla(354, 77%, 18%, 1);

$color-orange-100: hsla(20, 88%, 97%, 1);
$color-orange-200: hsla(19, 93%, 88%, 1);
$color-orange-300: hsla(19, 93%, 80%, 1);
$color-orange-400: hsla(19, 94%, 72%, 1);
$color-orange-500: hsla(19, 94%, 64%, 1);
$color-orange-600: hsla(19, 94%, 56%, 1);
$color-orange-700: hsla(19, 76%, 47%, 1);
$color-orange-800: hsla(19, 78%, 39%, 1);
$color-orange-900: hsla(19, 80%, 31%, 1);
$color-orange-1000: hsla(19, 85%, 23%, 1);

$color-yellow-100: hsla(40, 100%, 96%, 1);
$color-yellow-200: hsla(41, 100%, 87%, 1);
$color-yellow-300: hsla(41, 100%, 79%, 1);
$color-yellow-400: hsla(41, 100%, 70%, 1);
$color-yellow-500: hsla(41, 100%, 62%, 1);
$color-yellow-600: hsla(41, 100%, 53%, 1);
$color-yellow-700: hsla(41, 89%, 44%, 1);
$color-yellow-800: hsla(41, 90%, 36%, 1);
$color-yellow-900: hsla(41, 91%, 27%, 1);
$color-yellow-1000: hsla(41, 94%, 19%, 1);

$color-green-100: hsla(153, 69%, 95%, 1);
$color-green-200: hsla(152, 71%, 86%, 1);
$color-green-300: hsla(151, 72%, 78%, 1);
$color-green-400: hsla(151, 72%, 69%, 1);
$color-green-500: hsla(151, 72%, 61%, 1);
$color-green-600: hsla(151, 72%, 52%, 1);
$color-green-700: hsla(151, 67%, 43%, 1);
$color-green-800: hsla(151, 67%, 35%, 1);
$color-green-900: hsla(152, 68%, 26%, 1);
$color-green-1000: hsla(152, 69%, 17%, 1);

$color-blue-100: hsla(202, 100%, 96%, 1);
$color-blue-200: hsla(201, 65%, 84%, 1);
$color-blue-300: hsla(201, 60%, 72%, 1);
$color-blue-400: hsla(201, 57%, 60%, 1);
$color-blue-500: hsla(201, 62%, 48%, 1);
$color-blue-600: hsla(201, 100%, 36%, 1);
$color-blue-700: hsla(201, 100%, 29%, 1);
$color-blue-800: hsla(201, 100%, 21%, 1);
$color-blue-900: hsla(201, 100%, 14%, 1);
$color-blue-1000: hsla(201, 100%, 7%, 1);

$color-purple-100: hsla(285, 40%, 96%, 1);
$color-purple-200: hsla(286, 23%, 83%, 1);
$color-purple-300: hsla(286, 21%, 71%, 1);
$color-purple-400: hsla(286, 20%, 58%, 1);
$color-purple-500: hsla(286, 24%, 45%, 1);
$color-purple-600: hsla(286, 40%, 32%, 1);
$color-purple-700: hsla(286, 40%, 26%, 1);
$color-purple-800: hsla(286, 40%, 19%, 1);
$color-purple-900: hsla(286, 40%, 13%, 1);
$color-purple-1000: hsla(286, 40%, 6%, 1);

$color-gray-100: hsla(240, 20%, 99%, 1);
$color-gray-200: hsla(222, 18%, 87%, 1);
$color-gray-300: hsla(222, 18%, 75%, 1);
$color-gray-400: hsla(221, 18%, 64%, 1);
$color-gray-500: hsla(221, 18%, 52%, 1);
$color-gray-600: hsla(221, 26%, 40%, 1);
$color-gray-700: hsla(221, 26%, 32%, 1);
$color-gray-800: hsla(221, 26%, 24%, 1);
$color-gray-900: hsla(221, 26%, 16%, 1);
$color-gray-1000: hsla(221, 26%, 8%, 1);

$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-30: 30px;
$font-size-36: 36px;
$font-size-48: 48px;
$font-size-60: 60px;
$font-size-72: 72px;

$font-primary: "Rethink sans", sans-serif;
$font-secondary: "Anth", sans-serif;

$space-0: 0px;
$space-2: 2px;
$space-4: 4px;
$space-6: 6px;
$space-8: 8px;
$space-12: 12px;
$space-16: 16px;
$space-20: 20px;
$space-24: 24px;
$space-32: 32px;
$space-40: 40px;
$space-48: 48px;
$space-64: 64px;
$space-80: 80px;