@use 'primitives' as *;
@use 'semantics' as *;

// Form Yellow
$ff-form-heading: $font-secondary;
$ff-form-body: $font-body;

$fs-form-heading-small: $fs-caption-sm;
$fs-form-heading-medium: $fs-caption-md;
$fs-form-heading-large: $fs-caption-lg;

$color-form-heading-highlight-yellow: $color-text-accent-yellow;
$color-form-heading-highlight-orange: $color-text-accent-orange;
$color-form-support: $color-text-accent-gray;
$color-form-imagebox-yellow: $color-text-accent-yellow;

$color-form-imagebox-border-yellow: $color-background-accent-yellow-bolder;

$color-form-imagebox-background-yellow: $color-background-accent-yellow-subtlest;

//Form Orange
$color-form-imagebox-orange: $color-text-accent-orange;

$color-form-imagebox-border-orange: $color-background-accent-orange-bolder;

$color-form-imagebox-background-orange: $color-background-accent-orange-subtlest;

//Form Gray
$color-form-imagebox-gray: $color-text-accent-gray;

// Button
$ff-button: $font-primary;
$fs-button-large: $fs-body-lg;
$fs-button-small: $fs-body-md;

$color-button-text-primary-idle: $color-text-white;
$color-button-text-primary-hovered: $color-text-black;
$color-button-text-primary-disabled: $color-background-accent-gray-subtler;

$color-button-text-secondary-idle: $color-text-black;
$color-button-text-secondary-hovered: $color-text-black;
$color-button-text-secondary-disabled: $color-background-accent-gray-subtler;

$color-button-primary-idle: $color-background-accent-black;
$color-button-secondary-idle: $color-background-accent-black;

$color-button-primary-disabled: $color-background-accent-gray-subtlest;
$color-button-secondary-disabled: $color-background-accent-gray-subtlest;

